body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(251, 253, 251, 0.474),rgb(58, 57, 56));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    padding: 35px 15px;
    text-align: center;
    text-decoration: none;
}
h1{
    color: black;
    font-size: 20px;
    font-family: "Arial Black";
}
.logo{
    width: 300px;
    padding: 0px;
    height: 300px;
    border-radius: 10px;
}

.log{
    position: relative;
    margin: 10px 15px 15px 10px;
    float: left;
    height: 60px;
    width: 45px;
    border-radius:20%;

}
button,a{
    text-decoration: none;
}

